@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i');
html,body{
  margin:0;
  height:120%;
  font-family: 'Josefin Sans', sans-serif;

}
.header{
  position:relative;
  overflow:hidden;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  height:50vw;
  min-height:400px;
  max-height:550px;
  min-width:300px;
  color:#eee;
}
.header:after{
  content:"";
  width:100%;
  height:100%;
  position:absolute;
  bottom:0;
  left:0;
  z-index:-1;
 background: linear-gradient(to bottom, rgba(0,0,0,0.1) 40%,rgba(27,32,48,1) 100%);
}
.header:before{
  content:"";
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
    transform: translateZ(0);
  background:#1B2030 url(https://images.unsplash.com/photo-1463405346908-1e464eea5f3b?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ) center no-repeat;
  background-size:cover;
  background-attachment:fixed;
  animation: grow 60s  linear 10ms infinite;
  transition:all 0.2s ease-in-out;
  z-index:-2
}
.header a{
  color:#eee
}

.header-list{
    border:2px solid #fff;
    border-radius:3px;
    text-decoration:none;
    display:inline-flex;
    align-items:center;
    align-content:center;
    margin:20px;
    padding:0px 10px;
    font-weight:600;
    font-size:1.2em;
    line-height:1;
    box-sizing:border-box;
    height:40px
  }



@keyframes grow{
  0% { transform:scale(1)}
  50% { transform:scale(1.2)}
}

.header-logo{
    font-size: 70px;

}
.header-logo{
    text-align:left;

}

.header-list{
    text-align:right;

}
.main{
    font-size:40px;
}

.main{
    text-align: center;
}

.contents{
    text-align:center;
}

.skill-list{
    text-align:center;
}

.work-list{
    text-align:center;

}

.information-list{
    text-align:center;

}
#jct_sample {
    height: 80px;
    line-height: 80px;
    border-top: #ff0000 solid 1px;
    border-bottom: #ff0000 solid 1px;
    margin-bottom: 40px;
    }
    
    #jct_sample span {
    font-size: 150%;
    color: #ff0000;
    }